.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.half {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em; /* Opzionale: aumenta la dimensione del testo */
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  text-decoration: none;
  color: rgb(237, 154, 10) !important;
}