body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
  
.left-section {
    background-color: #0C356A !important;
    color: white;
}
  
.right-section {
    background-color: #FFC436 !important;
    color: white;
}
  
.text-white {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}
  